.btn-container {
  padding: 18px 0 18px 0;
}
.btn {
  border-radius: 4px;
  font-size: 14px;
  margin: 11px 4px;
  border: none;
}
.signin-btn {
  background-color: #1a73e8;
  color: white;
  padding: 9px 23px;
}
.signin-btn:hover {
  background-color: #2b7de9 !important;
  box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%),
    0 1px 3px 1px rgb(66 133 244 / 15%);
}
.search-btn {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  color: #3c4043;
  padding: 10px 16px;
}
.search-btn:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  border: 1px solid #dadce0;
  color: #202124;
}
.sidemenu-settings {
  border: 1px solid #dadce0;
  border-radius: 8px;
  color: #1a73e8;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  width: 300px;
  margin-left: 20px;
}
.sidemenu-settings:hover {
  background-color: rgba(26, 115, 232, 0.08);
  color: #1967d2;
}
