.home-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  color: #70757a;
}

.footer-location {
  padding: 15px 30px;
  font-size: 15px;
  border-bottom: 1px solid #dadce0;
}
.footer-main {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 0px 15px;
}
.footer-main > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.footer-main > ul > li {
  padding: 15px;
}
.results-footer {
  background-color: #f2f2f2;
  color: #70757a;
}
.rfooter-main {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  padding: 15px 30px;
  margin: 0;
  list-style: none;
}
.rfooter-main > li {
  margin-right: 40px;
}
@media (max-width: 1000px) {
  .footer-main {
    justify-content: space-between;
  }
}
@media (max-width: 670px) {
  .footer-main {
    flex-direction: column;
  }
  .footer-main > ul {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .footer-main {
    padding: 0;
  }
}
@media (max-width: 400px) {
  .hide.hfoot-left-item-lg {
    display: none;
  }
}
