.rcontent-main {
  padding-left: 105px;
}
.rfetch-info {
  color: #70757a;
  font-size: 14px;
  margin: 10px 0 20px;
}
.rcontent-related {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75vw;
}
.related-srch-bubble {
  background-color: #f1f3f4;
  border-radius: 100px;
  padding: 15px;
  margin: 0px 15px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-icon-related-srch {
  position: relative;
  height: 20px;
  left: -35px;
  fill: #9aa0a6;
}
.rcontent-related-head {
  font-size: 22px;
  margin-bottom: 20px;
}
.pagination {
  margin: 30px 0 38px 0;
  width: 70vw;
  text-align: center;
}
@media (max-width: 1000px) {
  .rcontent-main {
    padding-left: 35px;
  }
}
