.rcontent-main {
  padding-left: 105px;
}
.rfetch-info {
  color: #70757a;
  font-size: 14px;
  margin: 10px 0 20px;
}
.rcontent-related {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75vw;
}
@media (max-width: 1000px) {
  .rcontent-main {
    padding-left: 35px;
  }
}
