.g-langs {
  text-align: center;
  font-size: 13px;
}
.g-lang {
  text-decoration: none;
}
@media (max-width: 500px) {  
  .home-main {
    margin-top: 10vh;
  }
  .hide.g-langs {
    display: none;
  }
}
@media (min-width: 1366px) {
  .home-main {
    margin-top: 10vh;
  }
}
