* {
  font-family: arial, sans-serif;
}
body {
  margin: 0;
}
.flex {
  display: flex;
}
.flex-center-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-space-bw-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  background-color: transparent;
  border: none;
  color: #1a0dab;
}
.hover-underline:hover {
  text-decoration: underline;
}
.cursor-pointer {
  cursor: pointer;
}
.dNone {
  display: none;
}