* {
  font-family: arial, sans-serif;
}
body {
  margin: 0;
}
.flex-center-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.link {
  background-color: transparent;
  border: none;
  color: #1a0dab;
}
.hover-underline:hover {
  text-decoration: underline;
}
.cursor-pointer {
  cursor: pointer;
}
.g-langs {
  text-align: center;
  font-size: 13px;
}
.g-lang {
  text-decoration: none;
}
